.wrapper{
    display: flex;
    /* background-color: red; */
    height: 100vh;
}

.middle-container {
    width: 60%;
    margin: 2rem;
    /* border: 1px solid #000; */
}

.left-sidebar {
    width: 20%;
    border: 1px solid red;
}
.right-sidebar {
    width: 20%;
    border: 1px solid red;
}
